#todo-list {
  margin-top: 20px;
  font-size: 15px;
}

.container {
  display: block;
  align-items: center;
  justify-content: center;
}

#hero {
  border-style: double;
  border-color: black;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: -2px 2px rgb(113, 113, 113);
  background-color: rgb(251, 248, 243);
}

.delete {
  width: 100px;
  margin-bottom: 20px;
  margin-right: 5px;
  background-color: rgb(149, 63, 63);
  color: white;
}

#new-task-content {
  border-radius: 5px;
  margin-bottom: 10px;
}

.btn {
  display: block;
  margin-bottom: 10px;
  background-color: rgb(13, 92, 13);
  color: white;
}

.mark-complete {
  width: 20px;
  height: 20px;
}